*{
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 100%;
    font-size: 100%;
    max-height: 100%;
    margin: 0;
    background-color:  #f9f9f9;
}

.header{
    background-color:  #0079bf;
    gap: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 13%;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.projectNav{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    color: #f9f9f9;
    align-items: center;
    cursor: pointer;
}
.active{
    font-weight: bold;
}
.logo{
    width: 20vw;
    color: #f9f9f9;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 26px;
    font-weight: bold;
}
.subtitle{
    font-size: 12.5px;
    font-weight:lighter;
}
.projectContainer{
    align-items: center;
    margin: 20px;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    gap: 1%;
}
li{
    text-decoration: none;
    list-style: none;
}
.task{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    background-color: #73d3ff;
    color: #333333;
    min-height: 100px;
    max-height: 100px;
    min-width: 90%;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;;
}
.urgentTask{
    background-color: #002d7a;
    color: azure;
}
.taskName{
    font-size: 1.15rem;
    font-weight: bold;
}
.taskName{
    font-size: 1.15rem;
    font-weight: bold;
}
.completedTask{
    text-decoration:line-through;
    color:black;
    background-color: #97c894;
}
.formP{
    display:grid;
    grid-column: 1/6;
    grid-row: 1/4;
    grid-template-columns: 2fr 1fr 2fr;
    gap:10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.nameLabel{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-weight: bold;
}
.nameInput{
    grid-column: 2/3;
    grid-row: 3/4;
}
.submitButton{
    grid-column: 2/3;
    grid-row: 4/5;
}
.closeFormButton{
    grid-column: 5/6;
    grid-row: 1/2;
    color: #aaa;
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#form-container {
    display: none; 
    position: fixed;
    grid-template-columns: 4fr 1fr 4fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;/* Position in the center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(245, 245, 245);
    width: 300px;
    height: 130px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
  }

  #form-container[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 5px solid rgb(13, 13, 13);
    border-radius: 4px;
}
/* Button Style */
.cute-button {
    background-color: #00b0ff; /* color from the palette */
    color: #fff; /* white text color */
    border:0;
    border-radius: 30px; /* rounded corners */
    padding: 6px 15px; /* button padding */
    font-size: 13px; /* button text size */
    font-weight: bold; /* bold text */
    text-transform: uppercase; /* uppercase text */
    box-shadow: 2px 2px 5px #333333; /* button shadow */
    transition: all 0.2s ease-in-out; /* animation */
    cursor: pointer; /* cursor style */
}

/* Hover Effect */
.cute-button:hover {
    background-color: #0079bf; /* color from the palette */
}
/* Form Submit Button */
#form-container input[type="submit"] {
    width: 100%;
    background-color: #0079bf;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 800px)  {
    .logo{
        color: #333333;
        height: 50px;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .title{
        font-size: 20px;

        font-weight: bold;
    }
    .subtitle{
        font-size: 9px;
        font-weight:lighter;
    }
    .header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .projectContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .projectNav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #0079bf;
        align-items: center;
        cursor: pointer;
    }
  }